<div id="<%= dom_id comment %>">
  <p>
    <strong>Anonymous commentator:</strong>
    <%= comment.anonymous_commentator %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Gossip:</strong>
    <%= comment.gossip_id %>
  </p>

</div>
