<%= form_with(model: gossip) do |form| %>
  <% if gossip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gossip.errors.count, "error") %> prohibited this gossip from being saved:</h2>

      <ul>
        <% gossip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select :user_id, User.all, :id, :username, prompt: "Sélectionne un user" %><br>
  </div>

    <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.collection_select :city_id, City.all, :id, :name, prompt: "Sélectionne une ville" %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


